body {
background-color: rgb(4, 4, 53);
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
}
#header {
  background-color: #df1335;
  padding: 20px;
  text-align: center;
}

#about {
  padding: 20px;
  margin: 20px;
}

#superbowls {
  padding: 20px;
  margin: 20px;
}

h1 {
  color: white;
  font-size: 3em;
}

h2 {
  color: #f6f2f4;
}

#image-section {
  padding: 20px;
  margin: 20px;